.title-boarder
{
  background-color: blue;
  height: 10%;
}
.page-title
{
  text-align: center;
  color: white;
  
}
html, body {
  width: 99.5%;
  height: 98.5%;
  background-color: black;
}
#Fruit-Punch-Gatorade
{
  height: 90px;
}
.Vanilla-Protein-Shake
{
  height: 100px;
  width: 70px;
}
#Nature-Valley-Granola-Bar
{
  height: 100px;
  width: 100px;
  right: 200px;
}
#Starbucks-ColdBrew
{
  height: 100px;
}
#Bang-Cotton-Candy
{
  height: 100px;
}
#Chocolate-Chip-Protein-Bar
{
  height: 75px;
  width: 100px;
}
#Orbit-Spearmint
{
  height: 75px;
}
#Cadbury-Milk-Chocolate
{
  height: 100px;
  width: 75px;
}
#Hersheys-Cookies-and-Cream-Large
{
  height: 80px;
}
#add-to-cart1
{
  right: 100;
  bottom: 100px;
}
#test
{
  padding: 1em;
  border: 5px solid red;
}